.head{
    text-align: center;
}
.headings{
    color: blue;
    text-decoration: underline;
    border: 2px dashed dimgray;
}
.font{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
table ,th,td{
    border: 5px solid rgb(6, 179, 20);
}
table{  font-family: arial, sans-serif;
    font-size: large;
    color: brown;
    border-collapse: collapse; 
    width: 100%;

}

th, td { 
    height: 40px; 
    text-align: left;
  padding: 8px;
}
li{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    color: chocolate;
    }
body{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
      
    background-size: cover;
}    